.App {
  text-align: center;
  background-image: url('./imagenes/agro.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-icono {
  height: 40vmin;
  pointer-events: none;
  height: 100px;
  width: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-icono {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*.App-fondo{
  height: 100px;
  width: 100px;
}*/

/*.App-link {
  color: #61dafb;
}*/

@keyframes App-icono-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
