.App {
  text-align: center;
  background-image: url('./imagenes/agro.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-icono {
  margin-bottom: -45px;
  margin-left: 200px;
  height: 100px;
  width: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-icono {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*.App-fondo{
  height: 100px;
  width: 100px;
}*/

/*.App-link {
  color: #61dafb;
}*/

@keyframes App-icono-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  font-size: 50px;
  text-align: center;
  color: black;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
}

.user{
    width: 50px;
    position: absolute;
    bottom: 85%;
    left:6%;
    transform: translateX(-50%) rotate(0deg);    
}

.password{
    width: 20px;
    position: absolute;
    bottom: 50%;
    left:5%;
    transform: translateX(-50%) rotate(0deg);
}